<!-- MyLife/update_profile_form.html 
    display the HTML form to create a new Profile object.
-->
{% extends 'MyLife/base.html' %}

{% block content %}
<h1> Update your profile </h1>

<!-- display the HTML form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} <!-- token -->
    <table>
    {{form.as_table}} <!-- display form -->
    </table>

    <input type="submit" name="submit" value="Submit"> <!-- submit buttom -->
    <input type="button" name="cancel" value="Cancel" onclick="history.back();"> <!-- cancel button -->
</form>
{% endblock %}